/* Parvathi Kumar */ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%; 
    min-width: 450px; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3{
    font-family: "Molle", cursive; 
}
h1{
    font-size: 2.75rem;
}
h2{
    font-size: 2rem; 
    margin-bottom: 10px;
}
h3{
    font-size: 3rem; 
    width: 80%;
    margin: 20px auto;
}
h4{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.25rem; 
    font-weight: bold;
}
p{
    font-size: 16px; 
    line-height: 24px;
    margin-bottom: 15px;
}
h4, p, q, small, nav, button, form{
    font-family: "Montserrat", sans-serif;
}
/* #skip accessibility usage */ 
#skip {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip:focus{
position:static;
width:auto;
height:auto;
}

/* screen reader only class*/ 
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
/* nav menu styling*/ 
  #menu-toggle {
    display: block;
    background-color: #F6D64A;
    z-index: 1;  
    position: absolute;
    top: 20px;
    right: 0;
    width: 150px;
    padding: 20px;
    list-style-type: none;
    transition: width 0.5s; 
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }

  #menu-toggle input {
    display: block;
    width: 100%;
    height: 100%; 
    position: absolute;
    top: -7px;
    right: -5px;  
    padding: 0;
    cursor: pointer;  
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
  }
  
  #menu-toggle label {
    position: relative;
    text-transform: uppercase; 
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    z-index: 2; 
  }
 
  #menu-toggle ul {
    position: absolute;
    padding-top: 50px;
    background-color: #222222;
    list-style-type: none;
    top: 0;
    right: -150%;
    -webkit-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    transition: right 0.3s ease; 
  }
  #menu-toggle a{
    text-decoration: none;
    color: #222222;
  }
  #menu-toggle li  {
    padding: 40px; 
    background-color: #55BCD5;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3px; 
  }
  #menu-toggle:has(input:checked) {
    width: 100%; 
    background-color: #222222; 
    padding: 20px;
    align-items: center;
    z-index: 1000;
  }
  #toggle:checked ~ ul {
    right: 0;
    width: 100%; 
  }

  #toggle:checked ~ label{
    color: #ffffff;
  }

 
header{
    background: linear-gradient(#55BCD5, #FFFFFF);
    padding-bottom: 50px;
}
header h1, header p{
    width: 50%;
    margin-left: 50px;
}
header h1{
    margin-top: 20px;
}

#intro h2, #intro p{
    margin-left: 50px;
    width: 80%;
}
#img-grid{
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    width:100%;
    padding-bottom: 20px;
}
#img-grid img{
    max-width:100%;
    max-height: 100%;
    object-fit: cover;
}
#plan{
    background-color: #F6D64A;
    padding-top: 10px;
}
#plan div, #testimonials div{
    display: grid; 
    grid-template-columns: 1fr; 
    padding: 20px 0; 
}
#plan section{
    background-color: #55BCD5;
    width: 75%;
    padding: 2rem 1rem;
    margin: auto;
    border: 4px solid #ffffff;
    border-radius: 20px;
    justify-items: center; 
    margin-bottom: 10px;
}

#testimonials section{
    width: 75%; 
    margin: auto; 
    justify-items: center;
    text-align: center;
    margin-bottom: 10px;
}

#testimonials h4{ 
    margin-bottom: 0;
}
#testimonials p{
    margin-bottom: 0;
}
#testimonials q{
    font-style: italic;
}

 q:before, q:after {
    content: '"';
}
#about{
    background-color:#499BD2;
    padding: 10px;
}

#about div{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    width: 80%;
    margin: auto;
}
#about section{
    padding: 10px;
    justify-items: center;
    text-align: center;
}

#about img{
    margin-bottom: 10px;
    width: 75%;
    height: auto;
}

#about p{
    font-size: 1.25rem;
}
#contact span {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
}

/* form styling*/ 
form{
    width: 80%;
    margin: auto;
}
#names, #nums, #selects, .custom-select{
    display: grid; 
    padding: 10px;
}
form label, #nums legend{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.25rem;
}
/* custom radio button*/ 
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: #9B26B0;
  width: 1.15em;
  height: 1.15em;
  font-size: 1.75em;
  border: 3px solid #9B26B0;
  border-radius: 50%;
  display: grid;
  place-content: center;

  }
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #9B26B0;
  }
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  #nums fieldset label {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;
  }
  .radio-label{
    margin-left: 25px;
    margin-bottom: 5px;
    text-transform: none; 
    font-weight: normal; 
  }
form input, .custom-select{
    padding: 20px; 
    border: 4px solid #9B26B0;
    font-size: 1.25rem; 
    margin-bottom: 5px;
}
/* custom select arrow */ 
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
  }
  .custom-select {
    display: grid;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
  }
  select,
  .custom-select:after {
    grid-area: select;
  }
  .custom-select::after {
    justify-self: end;
    content: "";
    width: 0.8em;
    height: 0.8em;
    border-top: 3px solid #9B26B0; 
    border-right: 3px solid #9B26B0; 
    transform: rotate(135deg);

  }
  select:focus ~ .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 3px solid #F6D64A;
    border-radius: inherit;
  }

#destination::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
form input[type="submit"] {
    margin-top: 10px;
    background-color: #9B26B0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold; 
}

footer{
    background-color: #EAEAEA;
    justify-items: center;
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: #000000; 
    display: block;
    font-family: "Montserrat", sans-serif;
    margin: 20px;

}


/* media queries */ 

@media screen and (min-width: 768px){
    header{
        padding-top: 10px;
        display: grid; 
        grid-template-columns: auto 1fr;  
        grid-template-rows: auto auto;
        grid-template-areas: "tree heading"
            "nav nav"; 
    }
    header a {
        grid-area: tree;
        max-width: 100%;
        height: auto;
        display: block;
    }
    header h1, header p{
        grid-area: heading;
        margin-top: 10px;
        margin-left: 50px;
    }

    header p{
        align-content: flex-end; 
        padding-top: 50px;
        width: 60%;
    }

   
   #menu-toggle, #menu-toggle ul{
    position: relative;
    width: 100vw; 
    background-color: transparent;
   }

   nav{
    grid-area: nav;
   }

   #menu-toggle input, #menu-toggle label{
    display:none; 
   }
   #menu-toggle ul{
    display: block; 
    right: 0; 
    display: flex; 
    justify-content: space-evenly; 
    padding-top: 0;
   }
   #menu-toggle li{
        padding: 20px;
        background-color: #ffffff;
        width:20%; 
   }
   #menu-toggle li:hover{
        background-color:#F6D64A;
   }

   #intro {
    width: 80%;
    margin: auto;
   }
   #intro p, #intro h2{
    width: 100%;
    margin-left: 0;
   }
   #img-grid{
    grid-template-columns: 1fr 1fr; 
    gap: 0.5rem; 

   }
   #img-grid picture{
    grid-column: 1 / 3;
   }
   #plan div, #testimonials div{
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 0.5rem; 
    justify-items: space-around;

   }
   #plan section, #testimonials section{
    height: 100%; 
   }

   #about div{
    grid-template-columns: repeat(4,1fr) ; 
   }
   #nums fieldset  {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
   }
   #mySubmit{
    width: 50%; 
    justify-self: end;
   }
   footer{
    display: flex; 
    justify-content: center;
    align-items: baseline;
   }

}

@media screen and (min-width: 1085px){
    header{
        grid-template-areas: "tree heading nav"; 
        grid-template-columns: auto 2fr 1fr; 
        grid-template-rows: auto 1fr auto;
    }
    header h1, header p{
        margin-left: 0; 
    }
    nav{
        position: absolute;
        top: 0;
        right: 0; 
    }
    #menu-toggle{
        width: inherit;
        padding: 0;
        top: 0;
        right: 0;
    }
  
    #menu-toggle ul{
        width: inherit;
    }

    #menu-toggle li{
        padding: 10px 20px; 
        margin-left: 10px;
        font-size: 0.75em;
        width: inherit;
    }

    #intro{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto; 
    }
    #intro h2{
        grid-column: 1; 
        grid-row: 1; 
    } 
    #intro p {
        grid-column: 1; 
        grid-row: 1; 
        margin-top: 50px;
        width: 90%;
    } 
    #img-grid {
        grid-column: 2; 
        grid-row: 1 / span 2; 
    }

    #plan div, #testimonials div{
        grid-template-columns: repeat(4,1fr); ;
    }
    #plan section{
        width: 100%; 
    }
    #about div{
        width: 60%;
    }

    form{
        display: flex; 
        width: 100%;
        justify-content: center;
    }
    #names, #nums, #selects{
        width: 30%;
    }
    footer p{
        width: 70%;
    }
    
}
